.navbar, 
.navbar-expand-sm, 
.navbar-light,
.bg-light {
    color: rgb(220,220,220)!important;
    background-image: url("assets/background.jpg");
    /*background-color:rgb(220,220,220)!important;*/
    
}

nav a:hover {
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(216, 215, 215);
    font-size: 1.1rem;
}

body {
    background-color: rgb(238, 234, 234);
}

.btn {
    background-color: rgb(220,220,220);
    border: rgb(220,220,220);
    color: rgb(28, 26, 26);
}

.btn:hover {
    background-color:rgb(220,220,220);
    color: rgb(18, 92, 255);
    font-size: 1.2rem;
    
}

footer {
    background-image: url("assets/background.jpg");  
    /*background-color:rgb(220,220,220)!important;*/
}
